body
{background-color: rgb(205, 205, 206);
text-align: center;
}




.gazou2{
  width: 150px;
height: 150px;
}

#map{
  margin: 0 0 0 auto;
}







.i{
  width: 500px;
height: 500px;


}